html(style='direction:rtl;')
    head
        link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.6.0/pure-min.css')
        link(rel='stylesheet', href='./static/style.css')
    body
        div(id="myModal", class="modal")
            div(class="modal-content")
               div(class="modal-header")
                   h3(id="runTitle") اجرای تابع
                   img(id="runButton", src="./static/play.png",
                       style="cursor:pointer;width: 50px;float: left;position: absolute;right: 8;bottom: 8;")
               div(class="modal-body")
                   div(style="width:35%;height: 400px;display: inline;float: right;")
                       div(style="width:100%;height:15%;display: inline;float: left;")
                           select(style="width:40%;height:100%;", id="authenticationMode")
                               option(value="master") اجرا به صورت master
                               option(value="client") اجرا به صورت client
                               option(value="public") اجرا به صورت ناشناس
                           input(type="text", style="width:25%;height:100%;direction:ltr;", disabled, id="username", placeholder="username")
                           input(type="text", style="width:25%;height:100%;direction:ltr;", disabled, id="password", placeholder="password")
                           input(type="button", style="width:10%;height:100%;", value="اجرا", id="runButton2")
                       textarea(style="height:85%;width:100%;", id="requestBody")
                           | {
                           |    "x": 1,
                           |    "y": 2,
                           |    "z": "salam"
                           | }
                   textarea(style="width:65%;height:400px;color:#555;", id="responseTextArea",
                            placeholder="Output goes here ...", disabled)
               div(class="modal-footer")
                   h3

        table(class="pure-table pure-table-bordered", style='width:100%;text-align:center;height:80%;')
            thead
                tr
                    th(style='text-align:center;border:1px solid #cbcbcb;')
                    th(style='text-align:center;') نام تابع
                    th(style='text-align:center;') وجود فایل
                    th(style='text-align:center;') سینتکس
                    th(style='text-align:center;') Handler
                    th(style='text-align:center;') احراز حویت
                    th(style='text-align:center;') زمان مجاز
                    th(style='text-align:center;') آدرس فایل
            tbody
                - var n = 0;
                each functionInfo, index in functionInfos
                    - n++;
                    if n%2 === 0
                        tr
                            td(style="border:1px solid #e0e0e0;")= functionInfo[0]
                            td(style="border:1px solid #e0e0e0;")
                                a(href="#")=functionInfo[1]
                            if (functionInfo[6]==="YES")
                                td(style="border:1px solid #e0e0e0;color:green;") بله
                            else
                                td(style="border:1px solid #e0e0e0;color:red;") خیر
                            if (functionInfo[7]==="CORRECT")
                                td(style="border:1px solid #e0e0e0;color:green;") صحیح
                            else if (functionInfo[7]==="WRONG")
                                td(style="border:1px solid #e0e0e0;color:red;") غلط
                            else
                                td(style="border:1px solid #e0e0e0;")= functionInfo[7]
                            td(style="border:1px solid #e0e0e0;")= functionInfo[2]
                            td(style="border:1px solid #e0e0e0;")= functionInfo[3]
                            td(style="border:1px solid #e0e0e0;")= functionInfo[4]
                            td(style="border:1px solid #e0e0e0;")= functionInfo[5]
                    else
                        tr(class="pure-table-odd")
                            td(style="border:1px solid #e0e0e0;")= functionInfo[0]
                            td(style="border:1px solid #e0e0e0;")
                                a(href="#")=functionInfo[1]
                            if (functionInfo[6]==="YES")
                                td(style="border:1px solid #e0e0e0;color:green;") بله
                            else
                                td(style="border:1px solid #e0e0e0;color:red;") خیر
                            if (functionInfo[7]==="CORRECT")
                                td(style="border:1px solid #e0e0e0;color:green;") صحیح
                            else if (functionInfo[7]==="WRONG")
                                td(style="border:1px solid #e0e0e0;color:red;") غلط
                            else
                                td(style="border:1px solid #e0e0e0;")= functionInfo[7]
                            td(style="border:1px solid #e0e0e0;")= functionInfo[2]
                            td(style="border:1px solid #e0e0e0;")= functionInfo[3]
                            td(style="border:1px solid #e0e0e0;")= functionInfo[4]
                            td(style="border:1px solid #e0e0e0;")= functionInfo[5]

        script(src='/static/main.js')
        script.
            window.backtoryAuthenticationId= "#{authId}";
            window.backtoryMasterKey= "#{masterKey}";
            window.backtoryClientKey= "#{clientKey}";
